.appFooter {
    background: #000;
    color: #FFFFFF;
    padding: 4rem 0;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;

    .container {
        max-width: 980px;
        margin: 0 auto;
    }

    .footer_body {
        display: flex;
        flex-wrap: wrap;
        justify-content:space-between;
        margin-bottom: 6rem;

        .footer_items {

            h3 {
              color: #FFFFFF;
              font-size: 1.5rem;
              font-weight: 600;
            }

            ul {
           
                li {
                    padding: 14px 0;
    
                    a {
                        color: #959595;
                        letter-spacing: 0.3px;
                    }
                }

                li:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .social-links {
        display: flex;
        justify-content: center;
        flex-direction: row;
        
        a {
           padding-right: .5rem;
           color:#FFFFFF;
           font-size: 1.2rem;
           opacity: 1;
           transition: all 0.3s;
        }

        a:hover {
            opacity: .7;
        }

    }

    .copy {
        display: flex;
        justify-content: center;

        p {
            padding: 1.5rem 0;
            font-size: 14px;
            color: #959595;
        }
    }
}