<footer class="appFooter">
    <div class="container">
       <div class="footer_body">
           <nav class="footer_items" *ngFor="let item of items">
               <h3>{{ item }}</h3>
               <ul *ngFor="let itemFooter of itemsFooter">
                 <li><a href="">{{ itemFooter }}</a></li>
              </ul>
           </nav>
       </div>
        <div class="social-links">
            <a href="" *ngFor="let social of socials"><i class="{{ social }}"></i></a>
        </div>
        <div class="copy">
            <p>© 2020 DAR. All Rights Reserved.</p>
        </div>
    </div>
</footer>