<div>

  <h2>Create Category</h2>

   <dar-category-form
   [form]="form"
   [articles]="articles$ | async"
   (formSubmit)="onSubmit()"
   (addTag)="addTag()"
   (removeTag)="removeTag($event)"
   >
   </dar-category-form>

</div>

