<div class="form-group">
    <label>Search</label>
    <div>
        <input type="text" placeholder="Search Articles" [formControl]="searchTerm" />
    </div>
</div>
<a [routerLink]="'/articles/create'">New article</a>
<dar-articles-list [articles]="articles$ | async" (rowClicked)="rowClickHandler($event)"></dar-articles-list>
