.article_main {
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    
    .article_id {
        text-align: right;
    }

    .article_title {
        color: #58007b;
        font-size: 2rem;
        font-weight: 600;
        padding: 2rem 0;
    }
      
}
