<div class="article_main">

   <h2>Create Article</h2>
 
   <dar-article-form 
   [form]="form" 
   [categories]="categories$ | async"
   (formSubmit)="onSubmit()"
   (addTag)="addTag()"
   (removeTag)="removeTag($event)"
   ></dar-article-form>
  
</div>
  