:host {
    display: flex;
    flex-direction: column;
 
    a {
       color: #000;
       font-weight: bold;
       font-size: 2rem;
       opacity: 1;
       transition: all 0.3s;
       margin: 0 auto;
 
       &:hover {
           opacity: 0.7;
       }
    }
 }