<div class="form-group">
    <label>Search</label>
    <div>
        <input type="text" placeholder="Search Categories" [(ngModel)]="searchTerm" (ngModelChange)="modelChanges()" />
        <button [disabled]="searchTerm.length < 3" (click)="onSearchClick()">Search</button>
    </div>
  <a [routerLink]="'/categories/create'">New Category</a>
</div>
<dar-category-list [categories]="categories$ | async" (rowClicked)="rowClickHandler($event)"></dar-category-list>
