.appButton {
    color: #fff;
    background: #0069d9;
    padding: 0.5rem 1rem;
    border: #0069d9;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s;
    opacity: 1;
}
.appButton:hover {
    opacity: .8;
}
