
<h1>{{ greetingText + ProjectName }}</h1>
<img
  width="450"
  src="https://raw.githubusercontent.com/nrwl/nx/master/images/nx-logo.png"
/>
<button type="button" (click)="sayHello()">Say hello</button>
