:host {
    background-color: #eeeeee;
    width: 240px;
}

.app-sidenav {
    height: 100%;
}

.nav-list {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.nav-item {
    font-size: 1.2rem;
    margin-bottom: 0.7rem;

    a {
        text-decoration: none;
        color: #000;

        &.active {
            font-weight: bold;
        }
    }

    &.disabled {
       a { 
           color: #bdbdbd;
           pointer-events: none;
        }
    }
}
