<div *ngIf="category; else error" >
    <div class="category_title">
        Title: {{ category.title }}
    </div>
    <div class="category_id">
      ID: {{ category.id }}
    </div>

   <dar-category-form
   [form]="form"
   [articles]="articles$ | async"
   (formSubmit)="onSubmit()"
   (addTag)="addTag()"
   (removeTag)="removeTag($event)"
   >
   </dar-category-form>

</div>

<ng-template #error>
    Category not found!
</ng-template>

  
