.appCategory {
     padding: 1rem 3rem;
     background: red;

    ul {
      display: flex;
      justify-content: space-between;

      li {
        color: #fff;
        cursor: pointer;
      }
    }

    p {
      color: #fff;
    }
}