<div class="appCategory">
    <ng-container *ngIf="categories && categories.length; else noCategories">
        <ul>
            <li *ngFor='let category of categories' (click)="rowClickHandler(category)">
               {{ category.title }}
            </li>
        </ul>
    </ng-container>
    <ng-template #noCategories>
        <p> Categories not found! </p>
    </ng-template>
</div>
