.articles-list {
    table {
        width: 100%;
        
        tr {
          cursor: pointer;

          &:hover {
              background: red;
              color: #FFFF;
          }
        }

        td, th {
            padding: 0.5rem;
            text-align: left;
        }
    }
}
