<div class="articles-list">
    <table *ngIf="articles && articles.length; else noArticles">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Created</th>
            <th>Category</th>
        </tr>
        <tr *ngFor='let article of articles' (click)="rowClickHandler(article)">
            <td>{{ article.id }}</td>
            <td>{{ article.title }}</td>
            <td>{{ article.created_at | date}}</td>
            <td>{{ article.category_id }} {{ article.category_title }}</td>
        </tr>
    </table>
    <ng-template #noArticles>
        <div> No articles found! </div>
    </ng-template>
</div>