/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}
body {
    height: 100vh;
}
ul {

    li {
       list-style: none;
    }
}

a {
    text-decoration: none;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 5px 0;
    padding-left: 5px;
  
    label {
      font-size: 0.75rem;
      margin-bottom: 5px;
    }
  
    input, select {
      margin-bottom: 5px;
    }
  
    input[type="text"] {
      padding: 0.5rem 1rem;
      color: #000;
      border: 1px solid #bdbdbd;
      outline: none;
    }
  
    select {
      min-width: 320px;
      padding: 0.5rem;
      outline: none;
    }
  }
  