<div *ngIf="article else error" class="article_main">
  
  <h2>Edit Article ID: {{ article.id }}</h2>

  <dar-article-form 
  [form]="form" 
  [categories]="categories$ | async"
  (formSubmit)="onSubmit()"
  (addTag)="addTag()"
  (removeTag)="removeTag($event)"
  ></dar-article-form>

</div>
<ng-template #error>
    Article not found!
</ng-template>
