.appHeader {
    background: #4B0082;
    width: 100%;
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    padding: 1rem 0;
    z-index: 999;
    
    .container {
        max-width: 1440px;
        margin: 0 auto;
    }

    .header__body {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 3rem;
 
        .header__image {

            img {
                 width: 50px;
                 height: 50px;
            }
        }

        nav {
            width: 80%;
    
            ul {
                display: flex;
                justify-content: space-around;

                a {
                    color: #ffffff;
                    text-decoration: none;
                    transition: all 0.3s;
                    opacity: 1;
                }

                a:hover {
                    opacity: .7;
                }    
            }
        }
    }
}