<header class="appHeader">
  <div class="container">
    <div class="header__body">
      <div class="header__image">
        <a href=""><img src="assets/img/logo.png" alt="logo"></a>
      </div>
      <nav>
          <ul>
            <li *ngFor="let item of items"><a href="">{{item}}</a></li>
          </ul>
        </nav>
        <button-primary></button-primary>
     </div>
  </div>
</header>